header,footer{
    background-color: rgb(222, 219, 232);
    color: rgb(219, 105, 223);
    font-size: 2em;
    font-weight: bold;
    text-align:end
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 50px 1fr auto;
    margin: 0;
    background-color: white;
}

ul.errors{
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}

ul.flashes{
    color: rgb(42, 172, 85);
    font-weight: bold;
    font-size: 0.8em;
}
.nav{
    color: black;
    
}
input{
    background-color: rgb(244, 243, 241);
    color: rgb(226, 48, 149);
}