<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversion en criptomonedas: {{pageTitle}}</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <i class="fa-brands fa-amazon" style="font-size:50px;"></i>

</head>

<body>
    <header>
        <div class="container">
            Invertir En Criptomonedas
        </div>
    </header>
    <nav class="container">
      
        <ul>
                {% if page == "Inicio" %} 
      
                <li>Inicio</li>
                <li><a href="/purchase">Compra</a></li>
                <li><a href="/status">Estado</a></li>
                {% endif %}
                {% if page == "Compra" %}
                <li><a href="/">Inicio</a></li>
                <li>Compra</li>
                <li><a href="/status">Estado</a></li>
                {% endif %}
                {% if page == "Estado" %}
                <li><a href="/">Inicio</a></li>
                <li><a href="/purchase">Compra</a></li>
                <li>Estado</li>
                {% endif %}
                
        </ul>
      </nav>

    <section class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block section %}
        {% endblock %}
    </section>
   

    <footer>
        <div class="container">
            &copy; 2023 - Viola Maccioni. Todos los derechos reservados.
        </div>

    </footer>

</body>

</html>