{% extends "base.html" %}

{% block section %}


{% if data %}
<table role="grid">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>From</th>
            <th>Q</th>
            <th>To</th>
            <th>Q</th>
            <th>P.U</th>
        </tr>

    </thead>
    <tbody>
        <div class="formulario">

            {% for movements in data %}
            <tr>
                <td>{{movements.date}}</td>
                <td>{{movements.time}}</td>
                <td>{{movements.moneda_from}}</td>
                <td>{{movements.cantidad_from}}</td>
                <td>{{movements.moneda_to}}</td>
                <td>{{movements.cantidad_to}}</td>




            </tr>
            {% endfor %}
        </div>

    </tbody>
</table>
{% else %}
<h3>No existen datos de movimientos...</h3>


{% endif %}

{% endblock %}