{% extends "base.html" %}

{% block section %}
<h1>COMPRA DE CRIPTO</h1>
<form action="{{ url_for('purchase') }}" method="post">
  <body>
    

  <div class="container">
    

    <!-- Markup example 1: input is inside label -->
    <label for="moneda_from">From</label> 
    <select class="myselect" id="moneda_from" name="moneda_from" required>
      <option value="{{ moneda_from }}" selected>Selecciona la moneda que quiere convertir</option>
      
      <option>EUR</option>
      <option>ETH</option>
      <option>BNB</option>
      <option>ADA</option>
      <option>DOT</option>
      <option>BTC</option>
      <option>USDT</option>
      <option>XRP</option>
      <option>SOL</option>
      <option>MATIC</option>
    </select>
  
 
   
    <label for="moneda_to">From</label> 
    <select id="moneda_to" name="moneda_to" required>
      <option value="{{ moneda_to }}" selected>Selecciona la criptomoneda deseada</option>
      <option>EUR</option>
      <option>ETH</option>
      <option>BNB</option>
      <option>ADA</option>
      <option>DOT</option>
      <option>BTC</option>
      <option>USDT</option>
      <option>XRP</option>
      <option>SOL</option>
      <option>MATIC</option>
    </select>
    
  
    

  </div>

  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="cantidad_from">
      Q: </label>
      <input type="value" id="cantidad_from" name="cantidad_from" value="{{ cantidad_from }}" placeholder="cantidad_from">
    
      <button type="submit">

       <span class="material-symbols-outlined">
         calculate
        </span>
      </button>
   

    <label for="cantidad_to">
      Q: </label>
      <input type="value" id="cantidad_to" name="cantidad_to" value="{{ cantidad_to }}"placeholder="cantidad_to">
    
  
    

  </div>
  <form action="{{ url_for('purchase') }}" method="post">
  <label for="precio_unitario">
    P.U. 
    <input type="value" id="precio_unitario" name="precio_unitario" placeholder="precio_unitario" value={{ precio_unitario }}>
  <small>Esta es tu inversion.</small>
  
  "></form>

  <!-- Markup example 2: input is after label -->
  <label for="precio_unitario">
    P.U. 
    <input type="value" id="precio_unitario" name="precio_unitario" placeholder="precio_unitario" value={{ precio_unitario }}>
  <small>Esta es tu inversion.</small>


  <a href="status">
    <span class="material-symbols-outlined">
    check_box
    </span>
  </a>
</body>

</form>
{% endblock %}