{% extends "base.html" %}

{% block section %}
<h1>COMPRA DE CRIPTO</h1>
<form action="/purchase" method="post">

  <!-- Grid -->
  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="moneda_from">From</label>
    <select id="moneda_from" value="{{data.Form.moneda_from}}">
      <option value="EUR" selected>Selecciona una moneda</option>
      <option>EUR</option>
      <option>ETH</option>
      <option>BNB</option>
      <option>ADA</option>
      <option>DOT</option>
      <option>BTC</option>
      <option>USDT</option>
      <option>XRP</option>
      <option>SOL</option>
      <option>MATIC</option>
    </select>

    <label for="moneda_to">To</label>
    <select id="moneda_to" value="{{data.Form.moneda_to}}>
      <option value="EUR" selected>Selecciona una moneda</option>
      <option>EUR</option>
      <option>ETH</option>
      <option>BNB</option>
      <option>ADA</option>
      <option>DOT</option>
      <option>BTC</option>
      <option>USDT</option>
      <option>XRP</option>
      <option>SOL</option>
      <option>MATIC</option>
    </select>

    

  </div>

  <div class="grid" method="post">

    <!-- Markup example 1: input is inside label -->
    <label for="cantidad_from">
      Q:
      <input type="value" id="cantidad_from" name="cantidad_from" placeholder="cantidad_from" required step="0.01">
    </label>

    <label for="cantidad_to">
      Q:
      <input type="value" id="cantidad_to" name="cantidad_to" placeholder="cantidad_to" required >
    </label>

    

  </div>

  <!-- Markup example 2: input is after label -->
  <label for="precio_unitario">
    P.U.
    <input type="value" id="precio_unitario" name="precio_unitario" placeholder="precio_unitario" required>
  <small>Esta es tu inversion.</small>

  <!-- Button -->
  <button type="submit">Convertir</button>

</form>
{% endblock %}