{% extends "base.html" %}

{% block section %}



<body>
  <p></p>
  <p></p>
  <p></p>
  <form action="/purchase" name="form" method="POST">
   
  

  
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

    <div class="container">
   

      <!-- Markup example 1: input is inside label -->
      <label for="moneda_from">
        Moneda From:
        <select id="moneda_from" name="moneda_from">
          <option value="{{form.moneda_from}}" selected>Selecciona una de tus monedas que quiere convertir</option>

          <option value="EUR" {% if form.moneda_from=="EUR" %} selected {% endif %}>EUR</option>
          <option value="ETH" {% if form.moneda_from=="ETH" %} selected {% endif %}>ETH</option>
          <option value="BNB" {% if form.moneda_from=="BNB" %} selected {% endif %}>BNB</option>
          <option value="ADA" {% if form.moneda_from=="ADA" %} selected {% endif %}>ADA</option>
          <option value="DOT" {% if form.moneda_from=="DOT" %} selected {% endif %}>DOT</option>
          <option value="BTC" {% if form.moneda_from=="BTC" %} selected {% endif %}>BTC</option>
          <option value="USDT" {% if form.moneda_from=="USDT" %} selected {% endif %}>USDT</option>
          <option value="XRP" {% if form.moneda_from=="XRP" %} selected {% endif %}>XRP</option>
          <option value="SOL" {% if form.moneda_from=="SOL" %} selected {% endif %}>SOL</option>
          <option value="MATIC" {% if form.moneda_from=="MATIC" %} selected {% endif %}>MATIC</option>
        </select>
      </label>




      <label for="moneda_to">Moneda to</label>
      <select id="moneda_to" name="moneda_to" required>
        <option value="{{form.moneda_to}}" selected>Selecciona el tipo de moneda que quiere convertir</option>


        <option value="EUR" {% if form.moneda_to=="EUR" %} selected {% endif %}>EUR</option>
        <option value="ETH" {% if form.moneda_to=="ETH" %} selected {% endif %}>ETH</option>
        <option value="BNB" {% if form.moneda_to=="BNB" %} selected {% endif %}>BNB</option>
        <option value="ADA" {% if form.moneda_to=="ADA" %} selected {% endif %}>ADA</option>
        <option value="DOT" {% if form.moneda_to=="DOT" %} selected {% endif %}>DOT</option>
        <option value="BTC" {% if form.moneda_to=="BTC" %} selected {% endif %}>BTC</option>
        <option value="USDT" {% if form.moneda_to=="USDT" %} selected {% endif %}>USDT</option>
        <option value="XRP" {% if form.moneda_to=="XRP" %} selected {% endif %}>XRP</option>
        <option value="SOL" {% if form.moneda_to=="SOL" %} selected {% endif %}>SOL</option>
        <option value="MATIC" {% if form.moneda_to=="MATIC" %} selected {% endif %}>MATIC</option>
      </select>
      </label>





    </div>

    <div class= container>

      <label for="cantidad_from">
      </label>
      <input type="text" id="cantidad_from" name="cantidad_from" value="{{form.cantidad_from}}"
        placeholder="cantidad_from">

      <input type="submit" name="calcular" value="Calcular">
      


      <label for="cantidad_to" id="cantidad_to" name="cantidad_to" value="{{form.cantidad_to}}" placeholder="cantidad_to">
      </label>
      <input type="number" id="cantidad_to" name="cantidad_to" value="{{form.cantidad_to}}" placeholder="cantidad_to">

    </div>

    <label for="precio_unitario">
      P.U.
      <input type="value" id="precio_unitario" name="precio_unitario" placeholder="precio_unitario"
        value="{{ precio_unitario }}">

      <small>Esta es tu inversion.</small>





      <input type="submit" name="comprar" value="Comprar">


  </form>
  <article>
    {% for error in msgError %}
    <li class="error">{{ error }}</li>
    {% endfor %}

  </article>
 
</body>
{% endblock %}